<%- layout("/layouts/boilerplate") %>
<body>
    <div class="create">
        <form method="post" action="/listings/new" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="Title1" class="form-label">Title</label>
                <input type="text" class="form-control col-xs-7" id="Title1" name="listing[title]" placeholder="Enter the Title" required>
                <div class="valid-feedback">
                  Title Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid Title.
                </div>
              </div>
              
        
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="listing[description]" placeholder=" Enter the Description" required></textarea>
                <div class="valid-feedback">
                  description Looks great!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid Description.
                </div>
              </div>
        
        
              <!-- <div class="mb-3">
                <label for="Image1" class="form-label">Image Url</label>
                <input type="text" class="form-control" id="Image1" aria-describedby="emailHelp" name="listing[image]" placeholder="Paste image url here">
                <div class="invalid-feedback">
                  Please provide a valid Image.
                </div>
              </div> -->
              <div class="mb-3">
                <label for="Image1" class="form-label">Upload a Image</label>
                <input type="file" class="form-control" id="Image1" name="listing[image]">
                <div class="invalid-feedback">
                  Please provide a valid Image.
                </div>
              </div>
              <div class="cfrom">
                <div class="mb-3">
                    <label for="Price1" class="form-label">Price</label>
                    <input type="number" class="form-control f1" id="Price1" aria-describedby="emailHelp" name="listing[price]" placeholder="Enter the price per night" required >
                    <div class="invalid-feedback">
                      Please provide a valid price.
                    </div>
                  </div>
            
                  <div class="mb-3">
                    <label for="Location1" class="form-label">Location</label>
                    <input type="text" class="form-control" id="Location1" aria-describedby="emailHelp"  name="listing[location]" placeholder="Enter the Location" required >
                    <div class="invalid-feedback">
                      Please provide a valid Location.
                    </div>
                  </div>
              </div>
           
           
        
              <div class="mb-3">
                <label for="Country1" class="form-label">Country</label>
                <input type="text" class="form-control" id="Country1" aria-describedby="emailHelp" name="listing[country]" placeholder="Enter the Country" required>
                <div class="invalid-feedback">
                  Please provide a valid country.
                </div>
              </div>

              <button class="btn btn-outline-primary">Create</button>
           </form>
    </div>
  


  











<!-- 
    <form method="post" action="/listings/new">
        <input name="listing[title]" type="text" placeholder="Enter the Title">
        <br>
        <textarea name="listing[description]">
            Enter the Description
        </textarea>
        <input name="listing[image]" type="text" placeholder="Enter the url of image">
        <br>
        <input name="listing[price]" type="text" placeholder="Enter the price">
        <br>
        <input name="listing[location]" type="text" placeholder="Enter the location">
        <br>
        <input name="listing[country]" type="text" placeholder="Enter the country">
        <br>
        <button>Create</button>
    </form> -->
</body>
