<%- layout("./layouts/boilerplate.ejs") %>
<h3>GetAwayHub</h3>
<p><b>Log in</b></p>
<div class="create">
    <form method="post" action="/login" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input type="text" class="form-control col-xs-7" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control col-xs-7" id="password" name="password" required>
                    </div>
                    <button class="btn btn-outline-success">Sumbit</button>
            </form>
            </div>