<div class="footer">
    <div class="social">
        <a><i class="fa-brands fa-facebook fi m-2"></i></a>
        <a><i class="fa-brands fa-instagram fi m-2"></i></a>
        <a><i class="fa-brands fa-twitter fi m-2"></i></a>
    </div>
    <h3 class="copy">&copy;GetAwayHub,Inc</h3>
    <div class="terms">
        <a>Privacy</a>
        <a>terms</a>
    </div>
</div>